@import "tailwindcss";

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply select-none  touch-none
}

.noUi-connect,
.noUi-origin {
  -webkit-transform-style: preserve-3d;
  transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  @apply left-0 right-auto
}

.noUi-horizontal .noUi-origin {
  @apply h-0
}

.noUi-touch-area {
  @apply w-full h-full
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  @apply transition-transform
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* ? */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
 